h1 {
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 128px;
  line-height: 150px;
  letter-spacing: 0.3em;
  color: #1E1E1E;
  margin-top: 20vh;
}
@media (max-width: 1200px) {
  h1 {
    font-size: 100px;
    margin-top: 16vh;
  }
}
@media (max-width: 900px) {
  h1 {
    font-size: 75px;
    margin-top: 10vh;
  }
}
@media (max-width: 700px) {
  h1 {
    font-size: 55px;
    margin-top: 12vh;
    letter-spacing: 0.2em;
  }
}
@media (max-width: 500px) {
  h1 {
    font-size: 50px;
    letter-spacing: 0.2em;
  }
}
@media (max-width: 400px) {
  h1 {
    font-size: 38px;
  }
}

a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 27px;
  color: #1E1E1E;
  padding: 0 2vw;
}

a:hover {
  cursor: pointer;
  -webkit-transform: perspective(400px) scaleZ(1.5) translateZ(30px);
          transform: perspective(400px) scaleZ(1.5) translateZ(30px);
}

.header__block {
  background-image: url("../assets/bg/argentina-bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  overflow: hidden;
}

#header__block-menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  left: -10vw;
}
@media (max-width: 900px) {
  #header__block-menu {
    width: 100vw;
    left: 1px;
  }
}

#header__block-nav {
  margin-left: 9vw;
}

#logo-header {
  width: 202px;
}

#logo-burger {
  width: 100px;
}

@media (max-width: 900px) {
  #navigation__menu {
    display: none;
  }
}

#burger__menu {
  display: none;
}
@media (max-width: 900px) {
  #burger__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: rgba(30, 30, 30, 0);
    width: 90vw;
    margin: 0 5vw;
  }
}

#header__block-list a {
  font-size: 30px;
}
@media (max-width: 900px) {
  #header__block-list a {
    display: block;
  }
}
@media (max-width: 1200px) {
  #header__block-list a {
    font-size: 25px;
  }
}

#header__block-nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: -5vw;
}
#header__block-nav a {
  font-size: 30px;
}
@media (max-width: 900px) {
  #header__block-nav a {
    position: relative;
    display: block;
    padding-bottom: 20px;
    margin-top: 20px;
  }
}
@media (max-width: 1200px) {
  #header__block-nav a {
    font-size: 30px;
  }
}

.navbar-toggler-icon {
  background-image: url("../assets/svg/burger.svg");
  background-repeat: no-repeat;
  width: 58px;
  font-size: 45px;
}
@media (max-width: 500px) {
  .navbar-toggler-icon {
    background-image: url("../assets/svg/burger-black.svg");
  }
}

#btn-close-burger {
  height: 30px;
  width: 30px;
  background-size: cover;
  margin: 20px;
}/*# sourceMappingURL=style.css.map */