header {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #1E1E1E;
}

a:hover {
  color: #BF000E;
  cursor: pointer;
  -webkit-transform: perspective(400px) scaleZ(1.5) translateZ(30px);
          transform: perspective(400px) scaleZ(1.5) translateZ(30px);
}

h1 {
  left: calc(50% - 506.5px - 0.5px);
  top: calc(50% - 75px - 15.5px);
  position: absolute;
  font-family: "Roboto", sans-serif;
  font-size: 128px;
  font-weight: 500;
  letter-spacing: 0.3em;
  color: #1E1E1E;
}

#logo-header {
  width: 69px;
  height: 69px;
  padding: 10px;
}

#logo-header:hover {
  -webkit-transform: perspective(400px) scaleZ(1.5) translateZ(30px);
          transform: perspective(400px) scaleZ(1.5) translateZ(30px);
}

#logo-footer {
  width: 114px;
}

#logo-footer:hover {
  -webkit-transform: perspective(400px) scaleZ(1.5) translateZ(30px);
          transform: perspective(400px) scaleZ(1.5) translateZ(30px);
}

#header__color {
  background: rgba(205, 214, 219, 0.5);
}

#nav-padding {
  padding: 0;
}

.container-fluid {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0 10vw;
  font-style: normal;
  font-weight: 700;
}
.container-fluid a {
  font-family: "Quattrocento Sans", sans-serif;
  color: #1E1E1E;
  font-size: 24px;
  line-height: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 40vw;
}

.maps__block {
  padding-top: 66px;
  margin-bottom: 100px;
}
.maps__block-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 91px 150px 150px 150px;
}
.maps__block-button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -10%;
}

#guides__button, #maps__button {
  position: absolute;
  left: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 260px;
  height: 60px;
  border: 3px solid #1E1E1E;
  -webkit-filter: drop-shadow(2px 4px 6px #1E1E1E);
          filter: drop-shadow(2px 4px 6px #1E1E1E);
  border-radius: 30px;
  background: rgba(205, 214, 219, 0);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
}

#maps__button:hover {
  -webkit-transform: perspective(400px) scaleZ(1.5) translateZ(30px);
          transform: perspective(400px) scaleZ(1.5) translateZ(30px);
  background: #fff;
}

#maps__button:active {
  background: rgb(145, 207, 240);
}

#guides__button:hover {
  -webkit-transform: perspective(400px) scaleZ(1.5) translateZ(30px);
          transform: perspective(400px) scaleZ(1.5) translateZ(30px);
  background: #fff;
}

#guides__button:active {
  background: rgb(145, 207, 240);
}

h3 {
  text-align: center;
  font-family: "Quattrocento Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-transform: uppercase;
  margin-top: 56px;
  padding-bottom: 100px;
}

.maps--bg {
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  z-index: -1;
  margin-top: -10vh;
}

#container__maps {
  margin-top: 90px;
}

.maps__col {
  text-align: left;
}

.maps__col-1 {
  margin-top: -10px;
}

.img__maps-cart {
  position: relative;
  top: -20px;
}

.guides__section {
  margin: 0 20vw;
  padding-top: 200px;
}

.guide__block {
  position: relative;
  top: 150px;
}

.guides__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.guide__card {
  margin-right: 10px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.guide__card-texts {
  font-size: 22px;
  position: absolute;
  padding-left: 120px;
}
.guide__card-comment {
  font-size: 22px;
  max-width: 235px;
}

#guides__title {
  text-align: left;
}

.guides__block-moves {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.guides__block-btn {
  position: absolute;
  margin-left: -120%;
  top: 82%;
}

.guides__block-video {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
.guides__block-video .video-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  position: absolute;
  left: 15px;
  font-size: 24px;
  line-height: 27px;
  color: #FFFFFF;
}
.guides__block-video .video-text-rows {
  position: relative;
  top: -15px;
  left: 10px;
}
.guides__block-video .video-text-watch {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 27px;
  letter-spacing: 0.07em;
}
.guides__block-video .video-text-look {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 27px;
}

.video-play:hover {
  -webkit-transform: perspective(400px) scaleZ(1.5) translateZ(30px);
          transform: perspective(400px) scaleZ(1.5) translateZ(30px);
  cursor: pointer;
}

.guide__video-line {
  position: absolute;
  width: 495px;
  height: 326px;
  background: rgba(7, 7, 7, 0.3);
  border-radius: 20px;
}

.shedule__block {
  margin: 10vh 30vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.shedule__block h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 75px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.shedule__block-text {
  padding-top: 3vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.shedule__block-title {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 27px;
  text-transform: uppercase;
  margin-bottom: 22px;
}
.shedule__block-cities {
  max-width: 925px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  white-space: nowrap;
}
.shedule__block-trips {
  font-weight: 700;
  font-size: 32px;
  line-height: 35px;
  text-align: left;
  white-space: nowrap;
  margin-bottom: 50px;
}
.shedule__block-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #FFFFFF;
}

#shedule__block-button {
  margin-top: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  width: 238px;
  height: 60px;
  background: #BF000E;
  border-radius: 30px;
  border: none;
  -webkit-filter: drop-shadow(2px 4px 6px #1E1E1E);
          filter: drop-shadow(2px 4px 6px #1E1E1E);
  font-family: "Roboto";
  font-weight: 300;
  font-size: 20px;
  line-height: 22px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}
#shedule__block-button img {
  margin: 10px;
}

#shedule__block-button:hover {
  -webkit-transform: perspective(400px) scaleZ(1.5) translateZ(30px);
          transform: perspective(400px) scaleZ(1.5) translateZ(30px);
  border: #ffffff solid 3px;
}

#shedule__block-button:active {
  background: #1E1E1E;
}

.shedule {
  margin: 15vh 60vw;
}

.shedule__date {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 100px;
  line-height: 105px;
  text-align: left;
  padding-right: 18px;
  color: #D6D7D9;
}

.shedule__month {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  text-align: left;
  color: #D6D7D9;
}

.shedule__trip {
  font-weight: 700;
  font-size: 24px;
  line-height: 27px;
  text-align: left;
  white-space: nowrap;
  color: #D6D7D9;
}

#shedule__trips-button {
  width: 330px;
  height: 43px;
  left: calc(50% - 165px);
  top: calc(50% - 21.5px);
  background: rgba(192, 0, 5, 0.8);
  -webkit-box-shadow: 2px 4px 6px #1E1E1E;
          box-shadow: 2px 4px 6px #1E1E1E;
  border-radius: 10px;
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
  color: #1E1E1E;
  margin-top: 50px;
}

#shedule__trips-button:hover {
  -webkit-transform: perspective(400px) scaleZ(1.2) translateZ(30px);
          transform: perspective(400px) scaleZ(1.2) translateZ(30px);
}

.shedule__text-about {
  padding-top: 10px;
}

#card__block-footer, #card__block-shedule, #card__block-maps, #card__block-header {
  margin-bottom: 0rem !important;
}

.footer__line {
  width: 50vw;
  margin: 1vh 19vw 5vh 27vw;
  opacity: 0.7;
}

.footer__col {
  font-size: 20px;
  line-height: 22px;
  text-align: left;
  letter-spacing: 0.02em;
  color: #1E1E1E;
}
.footer__col-contacts {
  max-width: 170px;
}

.footer__block-col {
  font-weight: 700;
  margin-bottom: 40px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.footer__block-row {
  margin-bottom: 40px;
}

.footer__block-row:hover {
  -webkit-transform: perspective(800px) scaleZ(1.3) translateZ(20px);
          transform: perspective(800px) scaleZ(1.3) translateZ(20px);
}/*# sourceMappingURL=style.css.map */