$breakpoint_lg: 1200px
$breakpoint_md: 900px
$breakpoint_sm: 700px
$breakpoint_xs: 500px
$breakpoint_xxs: 400px
$btn-close-width: 5rem
h1
	text-align: center
	font-family: 'Roboto'
	font-style: normal
	font-weight: 500
	font-size: 128px
	line-height: 150px
	letter-spacing: 0.3em
	color: #1E1E1E
	margin-top: 20vh
	@media (max-width:$breakpoint_lg)
		font-size: 100px
		margin-top: 16vh
	@media (max-width:$breakpoint_md)
		font-size: 75px
		margin-top: 10vh
	@media (max-width:$breakpoint_sm)
		font-size: 55px
		margin-top: 12vh
		letter-spacing: 0.2em
	@media (max-width:$breakpoint_xs)
		font-size: 50px
		letter-spacing: 0.2em
	@media (max-width:$breakpoint_xxs)
		font-size: 38px
a
	font-family: 'Roboto'
	font-style: normal
	font-weight: 700
	font-size: 30px
	line-height: 27px
	color: #1E1E1E
	padding: 0 2vw
a:hover
	cursor: pointer
	transform: perspective(400px) scaleZ(1.5) translateZ(30px)
.header__block
	background-image: url("../assets/bg/argentina-bg.png")
	background-repeat: no-repeat
	background-position: center center
	background-size: cover
	min-height: 100vh
	overflow: hidden
#header__block-menu
	position: relative
	display: flex
	justify-content: space-around 
	left: -10vw
	@media (max-width:$breakpoint_md)
		width: 100vw
		left: 1px
#header__block-nav
	margin-left: 9vw
#logo-header
	width: 202px
#logo-burger
	width: 100px
#navigation__menu
	@media (max-width:$breakpoint_md)
		display: none
#burger__menu
	display: none
	@media (max-width:$breakpoint_md)
		display: flex
		background: rgba(30, 30, 30, 0)
		width: 90vw
		margin: 0 5vw
#header__block-list
	a
		font-size: 30px
	@media (max-width:$breakpoint_md)
		a
			display: block
	@media (max-width:$breakpoint_lg)
		a
			font-size: 25px
#header__block-nav
	position: relative
	display: flex
	flex-direction: column
	align-items: center
	left: -5vw
	a
		font-size: 30px
	@media (max-width:$breakpoint_md)
		a
			position: relative
			display: block
			padding-bottom: 20px
			margin-top: 20px
	@media (max-width:$breakpoint_lg)
		a
			font-size: 30px
.navbar-toggler-icon
	background-image: url("../assets/svg/burger.svg")
	background-repeat: no-repeat
	width: 58px
	font-size: 45px
	@media (max-width:$breakpoint_xs)
		background-image: url("../assets/svg/burger-black.svg")
#btn-close-burger
	height: 30px
	width: 30px	
	background-size: cover
	margin: 20px
